VITE_APPS_SCRIPT_URL=
VITE_APPS_SCRIPT_TOKEN=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_WHATSAPP_NUMBER=919051375635
VITE_WHATSAPP_COMMUNITY_URL=https://chat.whatsapp.com/IBYTLSaMOYaKli4goU5sFe
